= link_to "New Message", new_message_path, class: "btn btn-primary"
%table.message
  %tr
    %th.title Message title
    %th.author From
    %th.date Send at
  - @messages.reverse.each do |message|
    %tr.listing{"data-link" => "#{message_path(message)}"}
      %td= message.title
      %td= User.find_by(id: message.user.id).email
      %td
        = message.send_date
