<%= link_to "New Message", new_message_path, class: "btn btn-primary"%>

<table class="message">
  <tr>
    <th class="title">Message title</th>
    <th class="author"> From </th>
    <th class="date"> Send at</th>
  </tr>
  <% @messages.reverse.each do |message| %>
      <tr class="listing" data-link=<%= message_path(message) %>>
        <td><%= message.title  %></td>
        <td><%= User.find_by(id: message.user.id).email %></td>
        <td> <%= message.send_date %></td>
      </tr>
<% end %>
</table>