<%= link_to "New Message", new_message_path, class: "btn btn-primary"%>
<%= current_user.id %>
<table>
<% @messages.each do |message| %>
    <tr>
      <th>title</th>
      <th> Author </th>
    </tr>
      <tr>
        <td><%= message.title  %></td>
        <td><%= session[:user_id] %></td>
      </tr>
      <tr>
        <td><%= message.content %></td>
      </tr>
<% end %>
</table>