= form_for(@message, html: { multipart: true }) do |f|
  - if @message.errors.any?
    %ul
      - @message.errors.full_messages.each do |msg|
        %li= msg
  .new_message
    %p= f.label :title, 'Title:'
    %p= f.text_field :title, value: params[:title]

    %p= f.label :receiver, 'To:'
    %p= f.email_field :receiver, value: params[:receiver]

    %p= f.label :content, 'Message:'
    %p= f.text_area :content
    %p#sumbit= f.submit
