<div class="title">
    <h1> <%= @auction.title %></h1>
</div>
<table class="auction">
  <tr>
    <th class="img"></th>
    <th class="bid"></th>
  </tr>
  <tr>
    <td class="img"><%= image_tag @auction.image%></td>
    <td class="bid">
      <p> Current price: <%=@auction.bid.value %></p>
      <p> Last bid at: <%=@auction.bid.updated_at.strftime('%T %F') %></p>
      <%= form_for(@auction.bid, include_id: true) do |f| %>
          <br><%= f.label :value, 'Your price:'%>
          <%= f.number_field :value, min: @auction.bid.value%>

        <br> <%= f.submit %>
      <% end %>
    </td>
  </tr>
</table>
<div class="description">
  <h2><%= @auction.description %></h2>
</div>
