<div class="title">
    <h1> <%= @auction.title %></h1>
</div>
<table class="auction">
  <tr>
    <th class="img"></th>
    <th class="bid"></th>
  </tr>
  <tr>
    <td class="img"><%= image_tag @auction.image%></td>
    <td class="bid">
      <% if @auction.finish_date > DateTime.now %>
        <p> Auction ends in:

        <div id="finish-in"></div></p>
        <script type="text/javascript">
          $("#finish-in").countdown("<%= @auction.finish_date %>")
          .on('update.countdown', function(event) {
             var format = '%H:%M:%S';
             if(event.offset.days > 0) {
                format = '%-D day%!D ' + format;
             }
             $(this).html(event.strftime(format));
          });
        </script>
          <p> Current price: <%=@bid.last.value %></p>
          <p> Last bid at: <%=@bid.last.created_at.strftime('%T %F') %></p>
          <%= form_for([@auction, @auction.bids.new]) do |f| %>
              <br><%= f.label :value, 'Your price:'%>
              <%= f.number_field :value, min: 0%>

              <br> <%= f.submit %>
          <% end %>
      <% else %>
          <p>Auction finished !</p>
          <p>Higher bid: <%= @bid.last.value %></p>
          <p>Won by: <%= User.find_by(id: @bid.last.user_id).email[0..3] + "..." %></p>
      <% end %>
    </td>
  </tr>
</table>
<div class="description">
  <h2><%= @auction.description %></h2>
</div>

<div class="Biding history">
  <h2> Biding history </h2>
    <table>
      <tr>
        <th> User </th>
        <th> Price </th>
        <th> Date </th>
      </tr>
      <% @bid.reverse.each do |bid|%>
      <tr>
        <td> <%= User.find_by(id: bid.user_id).email[0..3] +"..." %> </td>
        <td> <%= bid.value  %></td>
        <td> <%= bid.created_at %></td>
      </tr>
      <% end %>
    </table>
</div>