<div class="title">
    <h1> <%= @auction.title %></h1>
</div>
<table class="auction">
  <tr>
    <th class="img"></th>
    <th class="bid"></th>
  </tr>
  <tr>
    <td class="img"><%= image_tag @auction.image%></td>
    <td class="bid">
      <p> Current price: <%=@bid.value %></p>
      <p> Last bid at: <%=@bid.created_at.strftime('%T %F') %></p>
      <%= form_for([@auction, @auction.bids.new], {url: auction_bids_path(@auction)}) do |f| %>
          <br><%= f.label :value, 'Your price:'%>
          <%= f.number_field :value%>

          <br> <%= f.submit %>
      <% end %>
    </td>
  </tr>
</table>
<div class="description">
  <h2><%= @auction.description %></h2>
</div>
