<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><%= link_to "Auctions", root_path %></li>
          <li><%= link_to "Contact", '#' %></li>
          <li><%= link_to "Help", '#' %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <%= user %>
          <li><%= link_to "Log in", new_user_session_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
        </ul>
    </div>
</nav>